
* {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
}


.navbar-container {
    display: flex;
    align-items: center;
   
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container {
    flex: 1;
   
}

.logo {
    color: #4dbf00;
    font-size: 30px;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.toggle-icon {
    color: goldenrod;
}

.profile-text-container {
    margin: 0 20px;
}



.profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-container {
    flex: 6;
    
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: bold;
}

.toggle {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}


.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), 
                url('your-image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-color: tomato;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    color: lightgray;
    width: 500px;
    margin: 30px 0;
}

.featured-button {
    color: white;
    background-color: #4dbf00;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;

}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}


.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;

}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    position: absolute;
    font-size: 14px;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;

}

.movie-list-item-button {
    background-color: #4dbf00;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow {
    font-size: 50px;
    cursor: pointer;
}

.container.active {
    background-color: white;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
}

.left-menu-icon.active {
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}
 
